:root {
  --color-primary: #ffffff;
  --color-secondary: #0e0000;
  --header-height: 60px;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
    display: grid;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: column;
    max-width: fit-content;
    height: 95%;
    padding: 100px;
  }
}

body {
  background-color: #0e0000;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  flex-direction: column;
  height: 95%;
}

h1,
label,
select,
button {
  text-align: left;
}

h2 {
  text-align: left;
}

input {
  color: #000000;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  color: var(--color-primary);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  gap: 10px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  #room-geometry .grid-container {
    grid-template-columns: 8fr;
  }
}


.input-group {
  width: 90%;
  margin-bottom: 10px;
}

.input-group .color-input {
  width: 90%;
}

#room-geometry {
  background-image: url("/styles/image/roomgeo.jpeg");
  border: 1mm ridge rgba(211, 220, 50, .6);
  padding: 100px;
  margin: 50px auto;
  width: 75%;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
  height: auto;
  color: azure;
}

#room-geometry .input-group {
  width: 90%;
  margin-bottom: 20px;
}

#room-geometry .input-group label,
#room-geometry .color-input label {
  width: 90%;
  font-size: 18px;
  font-weight: bold;
}

#room-geometry .input-group input[type="number"],
#room-geometry .color-input select {
  width: 90%;
  height: 40px;
  border: 1px solid rgba(246, 246, 246, 0.818);
  background-color: rgba(247, 227, 227, 0.966);
  padding: 8px;
  color: #0a0a0a;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}

#room-geometry .color-input select {
  height: 40px;
}

#room-geometry h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#product {
  background-image: url("/styles/image/spot.jpeg");
  border: 1mm ridge rgba(211, 220, 50, .6);
  padding: 100px;
  margin: 50px auto;
  width: 75%;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
  height: auto;
  color: azure;
}

#total-required-luminaires {
  position: sticky;
  right: 20px;
  bottom: 20px;
}


#lux {
  background-image: url("/styles/image/lux.jpeg");
  border: 1mm ridge rgba(211, 220, 50, .6);
  padding: 100px;
  margin: 50px auto;
  width: 75%;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  flex-wrap: wrap;
  height: auto;
  color: azure;
}


#results {

  margin: 40px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

#results>div {
  padding: 10px;
  font-size: 18px;
  font-family: 'Georgia', serif;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
  line-height: 1.6;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.input-group input {
  width: 90%;
  border: 1px solid rgba(246, 246, 246, 0.818);
  background-color: rgba(247, 227, 227, 0.966);
  padding: 8px;
  color: #0a0a0a;
  gap: 10px;

  /* Additional styling */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;

  /* Placeholder styling */
  ::placeholder {
    color: #999999;
  }

  /* Focus state */
  :focus {
    outline: none;
    border-color: rgba(246, 246, 246, 0.5);
    background-color: rgba(247, 227, 227, 0.8);
  }
}

.input-group label,
.input-group select {
  display: block;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group select {
  width: 90%;
  border: 1px solid rgba(246, 246, 246, 0.818);
  background-color: rgba(247, 227, 227, 0.966);
  padding: 8px;
  color: #0a0a0a;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
  appearance: none;
}

.input-group select:focus {
  outline: none;
  border-color: rgba(246, 246, 246, 0.5);
  background-color: rgba(247, 227, 227, 0.8);
}

button#calculate,
#report {
  padding: 10px 20px;
  background-color: #187969;
  ;
  border: none;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  /* to make the button block-level */
  margin-left: auto;
  /* left margin set to auto */
  margin-right: auto;
  /* right margin set to auto */
}

button#calculate:hover {
  background-color: rgba(248, 174, 1, 0.746);
}

header {
  background-color: var(--color-secondary);
  height: var(--header-height);
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title-container {
  display: flex;
  align-items: center;
}

#logo {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

header h1 {
  font-weight: 500;
  margin: 15px 0 0;
  font-size: 2rem;
}

header p {
  color: rgba(248, 174, 1, 0.746);
  ;
  font-weight: 200;
  margin: 5px 0 0;
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(248, 174, 1, 0.746);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-left: 30px;
  text-decoration: none;
  font-weight: 300;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color .nav-item:first-child {
    margin-left: 0;
  }

  .input-group input[type="file"] {
    display: none;
  }

  .input-group label {
    display: inline-block;
    padding: 8px 20px;
    background-color: rgba(248, 174, 1, 0.746);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }

  .input-group label:hover {
    background-color: rgba(248, 174, 1, 0.746);
  }

  .output-container {
    display: inline-block;
    padding: 8px 20px;
    background-color: rgba(248, 174, 1, 0.746);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }

  footer {
    padding: 10px;
    text-align: center;
    font-size: 6px;
    color: rgba(248, 174, 1, 0.746);
  }
}

.disclaimer {
  display: none;
}

.footer-comment-box {
  background-color: #f2f2f2;
  padding: 10px;
  cursor: pointer;
}

.footer-comment-box:hover {
  background-color: #e0e0e0;
}

#svg-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 50%; /* Adjust to fit SVG */
  width: 80%; /* Adjust to fit SVG */
  margin: auto auto; /* Modified to center container */
  padding: 0; /* No padding */
  border: none; /* No visible border */
}

#svg-container svg {
  max-width: 100%;
  max-height: 100%;
}

#svg-container rect {
  stroke: #ffffff;
  stroke-width: 1px;  
  filter: url(#dropshadow);
}

#svg-container text {
  fill: white;
  font-size: 18px;
  text-anchor: middle;
  filter: url(#textshadow);
}