body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}

@media (min-width: 300px),
(max-width: 768px) {

    .sidebar {
        width: 98%;
        position: fixed;
        background-color: transparent;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: inherit;
        justify-content: space-around;

    }

    .sidebar button {
        background-color: #0188a0;
        color: #ffffff;
        padding: .5em;
        font-size: .5em;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        margin-bottom: .5em;
        width: 25%;
        text-align: center;
        justify-content: flex-end;
    }

    .sidebar button:hover {
        background-color: #01526d;
    }

    #room-reports-container {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
        overflow-y: auto;
        width: 95%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-shadow: 0 2px 4px rgb(0, 66, 128);

    }

    #room-reports-container,
    #quotations-container {
        display: none;
    }

    .room-report {

        margin-top: 30px;
        margin-bottom: 20px;
        background-color: #ffffff;
        border-radius: 4px;
        width: 95%;

    }

    .room-report table {
        width: 100%;
        border-collapse: collapse;
        font-size: 11px;
        line-height: normal;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    }

    .room-report table th,
    .room-report table td {
        padding: 8px;
        text-align: center;
        vertical-align: text-top;
        /* Align the text vertically in the middle */
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    .room-report table th {
        background-color: #086fb9;
        font-weight: bold;
        color: #ffffff;
    }

    .room-report .header {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .room-report .subheader {
        text-align: center;
        font-size: 14px;
        color: #f8f5f5;
    }

    #room-details-container {
        margin-bottom: 20px;
        background-color: #ffffff;
        border-radius: 4px;
        width: 100%;

    }

    #room-details-container table {
        width: 100%;
        text-align: left;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    #room-details-container th {
        padding: 5px;
        background-color: #086fb9;
        font-weight: bold;
        color: #ffffff;
    }

    .room-length,
    .room-width,
    .room-height {
        font-weight: bold;
        color: #666;
    }

    .luminaire-table {
        width: 70%;
        border-collapse: collapse;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .luminaire-table th,
    .luminaire-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }


    .luminaire-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        color: rgb(242, 242, 242);
        font: 1em sans-serif;
        font-style: normal;
    }

    .luminaire-table img {
        width: 50px;
        height: 50px;
    }

    #quotations-container {
        margin-bottom: 20px;
        background-color: #ffffff;
        border-radius: 4px;
        width: 100%;

    }

    #quotations-container table {
        width: 100%;
        text-align: left;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    #quotations-container th {
        padding: 5px;
        background-color: #086fb9;
        color: rgb(242, 242, 242);
        font: .5em sans-serif;
        font-style: normal;
    }

    #quotations-container td {
        padding: 5px;
        background-color: #ffffff;
        color: rgb(21, 21, 21);
        font: .5em sans-serif;
        font-style: normal;

    }
    .price-input {
        padding: 15px;
        background-color: #ffffff;
        color: rgb(21, 21, 21);
        font: .5em sans-serif;
        font-style: normal;
    }

    .quotations-image {
        width: 50px;
        height: 50px;
    }

}