* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #383535;
    background-color: #f5f5f5;
    padding: 1em;
}

header {
    padding: 2em;
    text-align: center;
    background-color: #01526d;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 1em;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.5em;
}

.grid-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 1em;
}

input,
select {
    padding: 0.5em;
    font-size: 1em;
    border: 2px solid #01526d;;
    border-radius: 50px;
}

label {
    margin-bottom: 0.5em;
    font-weight: bold;
}

button {
    background-color: #01526d;;
    color: #ffffff;
    padding: 1em;
    font-size: 1em;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;


}

button:hover {
    background-color: #38a5ff;
}


.lights,
.geometry {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#svg-container {
    width: 100%;
    height: 600px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-bottom: 2em;
    display: flex;
    /* Make this a flex container */
    justify-content: center;
    /* Center children horizontally */
    align-items: center;
    /* Center children vertically */
}


#suggest {
    text-align: center;
}

#saved-rooms {
    display: inline-block;
    padding: 1em;
    border-radius: 5px;
    margin-top: 1em;
    text-align: center;
    width: 100%;
    /* You may adjust this according to your needs */
}


#saved-rooms h3 {
    font-size: 2em;
    margin-bottom: 0;
}

#saved-rooms .saved-room {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 1em;
    padding: 1em;
    background-color: #38a5ff;
    color: #ffffff;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    /* Adjust this according to your needs */
}

#saved-rooms .room:hover {
    background-color: #065367;
}

table,
td {
    display: none;

}

.dropdown-button {
    padding: 20px;
    /* Adjust the padding around the dropdown button text */
    width: 100%;
    /* Fill the width of the dropdown container */
    text-align: center;
    /* Align the text to the left */
}

.dropdown-content-brand,
.dropdown-content-model {

    display: none;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    align-items: center;
    cursor: pointer;
    margin: 5px 5px;
    border: #09cadc;

}

.dropdown-item {
    color: #ffffff;
    /* Darker text color */
    padding: 5px 0;
    /* Add some vertical padding to each item */
    margin: 5px 0;
    /* Add some vertical margin to each item */
    display: flex;
    align-items: center;
    cursor: pointer;
    /* Change the cursor to a pointer when hovering over an item */
}

.dropdown-item:hover {
    background-color: #ddd;
    /* Light background on hover */
}


div[data-value] {
    padding: 10px;
    color: #333;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

div[data-value]:hover {
    background-color: #ddd;
}

div[data-value] img {
    vertical-align: text-top;
    width: auto;
    height: auto;
    margin-right: 100px;    /* Space between the image and the text */

}

/* The Modal */
#modal {
    display: none;
    position: relative;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(224, 219, 219);
    background-color: rgba(246, 243, 243, 0.4);
}

/* Modal Content */
.modal-content {
    
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    
    padding: 5px;
    box-sizing: border-box;
}

#custom-button {
    padding: 5px 10px;
    background-color: #067698;
    
    border: none;
    cursor: pointer;
}

#custom-button:hover {
    background-color: #067698;
}

#custom-text {
    margin-left: 10px;
    word-break: break-all;
    flex-grow: 1;
}