:root {
    --color-primary: #ffffff;
    --color-secondary: #0e0000;
}

body {
    background-color: #0e0000;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: block;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    height: 100vh;

}
h1,
label,
select,
button {
    color: #ffffff;
    text-align: center;
}

h2 {
    color: #ffffff;
    text-align: left;
}

input {color: #000000;
    text-align: left;}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: var(--color-primary);
}

#room-geometry,
#lux,
#product
{
    border: 2mm ridge rgba(211, 220, 50, .6);
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#room-geometry {
    background-image: url("/roomgeo.jpg");
}

#lux {
    background-image: url("/lux.jpg");
}

#product {
    background-image: url("/spot.jpg");
}

.input-group {
    width: 80%;
    margin-bottom: 15px;
}

.input-group input {
    width: 80%;
}

#lux-and-product .input-group {
    width: 50%;
}

#lux-and-product .input-group input {
    width: 100%;
}

#results {
    border: 2mm ridge rgba(211, 220, 50, .6);
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-image: url("/report.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#results h2 {
    align-self: flex-start; 
    margin-left: 10px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5); /* Shadow to the text */
}

#results > div {
    padding: 10px;
    font-size: 18px;
    font-family: 'Georgia', serif; 
    background-color: rgba(255, 255, 255, 0.7); /* semi-transparent white */
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5); /* Shadow to the text */
}

button#calculate, #report {
    padding: 10px 20px;
    background-color: #998e17;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    /* to make the button block-level */
    margin-left: auto;
    /* left margin set to auto */
    margin-right: auto;
    /* right margin set to auto */
}

button#calculate:hover {
    background-color: #494303;
}

header {
    background-color: var(--color-secondary);
    height: var(--header-height);
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

header h1 {
    color: var(--color-primary);
    font-weight: 500;
    margin: 15px 0 0;
    font-size: 2rem;
}

header p {
    color: var(--color-primary);
    font-weight: 200;
    margin: 5px 0 0;
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    display: inline-block;
    padding: 10px 20px;
    background-color: #998e17;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 300;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #494303;
    text-decoration: none;
}


.nav-item:first-child {
    margin-left: 0;
}